.top_news {
    position: relative;
    height: 410px;
    cursor: pointer;
    overflow: hidden;
}

.top_news > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
}

.top_news > a > img:hover {
    transform: scale(1.1);
}

.top_news .word {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
    padding-left: 30px;
}

.top_news .word p {
    font-size: 12px;
}

.second_news {
    height: 420px;
    display: flex;
    flex-direction: column;
}

.second_news .post {
    cursor: pointer;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.second_news .post .word {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 5px; /* Some padding */
    padding-left: 10px;
}

.second_news .post .word p {
    font-size: 10px;
}

.second_news .post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s;
}

.second_news .post img:hover {
    transform: scale(1.1);
}

.news_recent .news2wrap {
    overflow: hidden;
}

.news_recent .news2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s;
}

.news_recent .news2 img:hover {
    transform: scale(1.1);
}

.news_recent .news2 {
    cursor: pointer;
}

.category .list_category {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    border-bottom: 1px solid #000;
    margin-top: 10px;
}

.category .list_category > p {
    cursor: pointer;
}

.news_detail {
    height: 400px;
    overflow: hidden;
}

.news_detail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s;
}

.news_detail > img:hover {
    transform: scale(1.1);
}

.news_recent_ref > img {
    width: 100%;
    height: 200px;
}

.search {
    border-bottom: 3px solid lightgray;
}

.search > h4,
.search > p {
    cursor: pointer;
}

.line_break {
    background-color: black;
    width: 100%;
    margin-left: 20px;
    height: 2px;
}

.news_recent2 {
    background-color: lightgray;
    margin-bottom: 100px;
}
