body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.btn {
    border-radius: 3px;
}

.chat {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 99;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #0059dd;
}

.chat:hover {
    background-color: #004ab8;
}

.chat > p {
    color: white;
    margin-top: 13px;
    margin-right: 5px;
}

.chat .icon {
    width: 22px;
}

.link {
    color: white;
    font-size: 18px;
    margin: 0px 10px;
    padding: 10px 30px;
    border-radius: 5px;
}

.link:hover {
    background-color: #0059dd;
    color: white;
}

.carousel-inner {
    padding: 60px;
}

.carousel-item > img {
    height: 200px;
    object-fit: cover;
}

.about {
    max-width: 700px;
    margin-top: 30px;
}

.card-section {
    padding: 10px 30px;
}

.card {
    background-color: #0d6efd;
    color: white;
    margin: 5px -8px;
    padding: 0px 10px;
    padding-top: 10px;
    /* card css */
}

.card .wrap-card-img {
    height: 250px;
    overflow: hidden;
}

.card .wrap-card-img > a > img {
    object-fit: cover;
    height: 100%;
    transition: all 0.2s;
}

.card .wrap-card-img > a > img:hover {
    transform: scale(1.1);
}

.body-post {
    margin-top: 70px;
    max-width: 900px;
}

.img-body {
    object-fit: cover;
    border-radius: 5px;
    height: 250px;
}

.location {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* The image used */
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0.7) 100%
        ),
        url("../public/front/267731107_446012903594295_853985104642679943_n.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}

.location .wrapper {
    max-width: 700px;
}

.article {
    margin-top: 30px;
    background-color: lightgray;
    padding: 40px 0px;
}

.article .wrapper {
    width: 70%;
}

.news {
    width: 100%;
    overflow: hidden;
}

.news > a > img {
    width: 100%;
    transition: all 0.2s;
}

.news > a > img:hover {
    transform: scale(1.1);
}

.news-one .wrap-img {
    margin-top: 40px;
    height: 350px;
    width: 100%;
    border: 30px solid white;
    outline: 5px solid gray;
    margin-bottom: 16px;
    overflow: hidden;
    box-sizing: border-box;
}

.news-one .wrap-img > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s;
}

.news-one .wrap-img > a > img:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 40px;
}

.line-footer {
    width: 100%;
    height: 5px;
    background-color: lightblue;
    margin-bottom: 15px;
}

@media screen and (max-width: 576px) {
    .article {
        padding: 20px 0px;
    }
    .article .wrapper {
        width: 100%;
    }
    .news-one > img {
        margin-top: 0px;
    }
    footer {
        margin-top: 20px;
    }
    .chat {
        width: 170px;
        height: 40px;
    }
    .chat > p {
        font-size: 14px;
    }

    .chat .icon {
        width: 15px;
    }
}

@media screen and (min-width: 576px) {
    .carousel-item > img {
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-item > img {
        height: 400px;
    }
}

@media screen and (min-width: 992px) {
    .carousel-item > img {
        height: 500px;
    }
}
